<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ms-adal" version="0.8.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ADAL for Cordova</name>
    <description>Provides Microsoft Azure Active Directory (ADAL) OAuth client.</description>
    <license>Apache 2.0</license>
    <keywords>microsoft, azure, adal, activedirectory</keywords>
    <repo>https://github.com/AzureAD/azure-activedirectory-library-for-cordova</repo>
    <issue>https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues</issue>
    <dependency id="cordova-plugin-compat" version="^1.0.0" />
    <engines>
        <engine name="cordova-android" version=">=4.1.0" />
        <engine name="cordova" version=">=5.4.0" />
        <engine name="cordova-windows" version=">=4.1.0" />
    </engines>
    <js-module name="utility" src="www/utility.js">
        <runs />
    </js-module>
    <js-module name="AuthenticationContext" src="www/AuthenticationContext.js">
        <clobbers target="Microsoft.ADAL.AuthenticationContext" />
    </js-module>
    <js-module name="CordovaBridge" src="www/CordovaBridge.js" />
    <js-module name="AuthenticationResult" src="www/AuthenticationResult.js" />
    <js-module name="TokenCache" src="www/TokenCache.js" />
    <js-module name="TokenCacheItem" src="www/TokenCacheItem.js" />
    <js-module name="UserInfo" src="www/UserInfo.js" />
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ADALProxy">
                <param name="android-package" value="com.microsoft.aad.adal.CordovaAdalPlugin" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        </config-file>
        <js-module name="AuthenticationSettings" src="www/AuthenticationSettings.js">
            <clobbers target="Microsoft.ADAL.AuthenticationSettings" />
        </js-module>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name="com.microsoft.aad.adal.AuthenticationActivity">
            </activity>
        </config-file>
        <framework src="src/android/android.gradle" custom="true" type="gradleReference" />
        <resource-file src="aar/adal-1.10.0.aar" target="aar/adal-1.10.0.aar" />
        <source-file src="src/android/CordovaAdalPlugin.java" target-dir="src/com/microsoft/aad/adal" />
        <source-file src="src/android/DefaultAuthenticationCallback.java" target-dir="src/com/microsoft/aad/adal" />
        <source-file src="src/android/SimpleSerialization.java" target-dir="src/com/microsoft/aad/adal" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ADALProxy">
                <param name="ios-package" value="CordovaAdalPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/CordovaAdalPlugin.h" />
        <source-file src="src/ios/CordovaAdalPlugin.m" />
        <header-file src="src/ios/CordovaAdalUtils.h" />
        <source-file src="src/ios/CordovaAdalUtils.m" />
        <framework custom="true" src="src/ios/ADAL.framework" />
        <resource-file src="src/ios/ADALiOS.entitlements" />
        <hook src="scripts/configureEntitlementsIos.js" type="after_plugin_install" />
        <hook src="scripts/configureEntitlementsIos.js" type="before_plugin_uninstall" />
        <config-file parent="LSApplicationQueriesSchemes" target="*-Info.plist">
            <array>
                <string>msauth</string>
            </array>
        </config-file>
        <config-file parent="CFBundleURLTypes" target="*-Info.plist">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>$(CFBundleIdentifier)</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>x-msauth-$(CFBundleIdentifier:rfc1034identifier)</string>
                    </array>
                </dict>
            </array>
        </config-file>
    </platform>
    <platform name="windows">
        <js-module name="ADALProxy" src="src/windows/ADALProxy.js">
            <runs />
        </js-module>
        <framework custom="true" src="src/windows/lib/wpa/Microsoft.IdentityModel.Clients.ActiveDirectory.winmd" target="phone" target-dir="adal-wpa" />
        <framework custom="true" src="src/windows/lib/netcore45/Microsoft.IdentityModel.Clients.ActiveDirectory.winmd" target="windows" target-dir="adal-netcore45" />
        <hook src="scripts/prePackage-windows.js" type="after_plugin_install" />
        <hook src="scripts/prePackage-windows.js" type="after_prepare" />
        <hook src="scripts/beforeUninstall-windows.js" type="before_plugin_uninstall" />
    </platform>
</plugin>
